<div style="margin-bottom: 1em;"></div>
<div class="footer-text">Powered by <a href="https://github.com/Thoxvi/cap">CAP<a>, designed by <b><i><a href="https://github.com/Thoxvi">THOXVI</a></i></b> 2016-2021</div>
<div class="footer-text">All content uses <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/">CC BY-NC-ND 3.0 CN</a> license</div>
