<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="github-markdown.css">
<div>
  <h1><%- item.title || theme.default_post_title %></h1>
</div>
<div class="markdown-body full-img">
  <%- item.content %>
</div>
